* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color:#b2fa8e;
  text-align: center;
  
}

h1 {
  font-family: 'B612', sans-serif;
  font-size: 50px;
  margin-top: 20px;
  margin-bottom: 30px;
  color: #666666;
}

#clock {
  display: inline;
  margin: auto;
}

img {
  border: 10px solid #ffff00;
  border-radius: 5px;
  margin: 20px;
}

p {
  font-size: 40px;
}